.container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header-text {
  font-weight: 300;
}

.line-break {
  width: 100%;
  background-color: #7d97ad;
  height: 5px;
  margin: 20px 0;
}

.main-section {
  margin-bottom: 25px;
}

.portfolio-header {
  color: #7d97ad;
  margin: 20px 0 5px 5px;
}

.portfolio-work {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.work-url {
  display: inline;
  vertical-align: middle;
}

.responsive-image {
  max-width: 100%;
}

.logo {
  max-width: 100%;
  width: 100px;
}

.github-logo {
  width: 35px;
  margin-left: 5px;
  position: relative;
}

.github-logo:hover {
  top: -5px;
}

@media screen and (max-width: 991) {
  
}
